* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(120, 120, 218);
    padding: 0 10px;
}

.container {
    background-color: #fff;
    max-width: 1000px;
    overflow-x: hidden;
    padding: 20px;
    border-radius: 8px;

}

.container ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

.container ul .tap {
    white-space: nowrap;
    background-color: rgb(197, 196, 196);
    padding: 15px 20px;
    border-radius: 30px;
}