* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(120, 120, 218);
    padding: 0 10px;
}

.container {
    background-color: #fff;
    max-width: 1000px;
    overflow-x: hidden;
    border-radius: 8px;
    position: relative;
    padding: 15px;

}

.container .icon {
    position: absolute;
    width: 80px;
    height: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    top: 0;
    cursor: pointer;
}

.container .icon:first-child {
    left: 0;
    background: linear-gradient(90deg, #fff 70%, transparent)
}

.container .icon:last-child {
    right: 0;
    background: linear-gradient(-90deg, #fff 70%, transparent)
}

.icon i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.icon i:hover {
    background-color: #b9b7b7;
}

.icon:first-child i {
    margin-left: 15px;
}

.icon:last-child {
    justify-content: flex-end;
}

.icon:last-child i {
    margin-right: 15px;
}

.container ul {
    list-style: none;
    display: flex;
    gap: 5px;
    overflow-x: hidden;
}

.container ul .tap {
    white-space: nowrap;
    background-color: rgb(235, 232, 232);
    padding: 15px 20px;
    border-radius: 30px;
}